<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cseruet">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_laptop_black_24dp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".chotha"></activity>
        <activity android:name=".settings" />
        <activity android:name=".about" />
        <activity android:name=".csesyllabus" />
        <activity android:name=".csesyllabus8" />
        <activity android:name=".csesyllabus7" />
        <activity android:name=".csesyllabus6" />
        <activity android:name=".csesyllabus5" />
        <activity android:name=".csesyllabus4" />
        <activity android:name=".csesyllabus3" />
        <activity android:name=".csesyllabus2" />
        <activity android:name=".csesyllabus1" />
        <activity android:name=".emmergency" />
        <activity android:name=".routine" />
        <activity android:name=".info" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>